{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Начало
{% endblock %}

{% block content %}

    <div class="row my-3">
        <div class="col">


            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Добрый день! В этой игре Вы будете принимать решения и взаимодействовать с другими 
                    пользователями Толоки в режиме реального времени. В связи с этим могут возникнуть паузы в игре, во время 
                    которых Вам нужно дождаться вашего оппонента.
                </li>

                <li class="list-group-item">
                    За участие в данной игре Вы заработаете X USD, которые будут выплачены сразу после того, как Вы отправите
                    правильный код в интерфейсе Толока после завершения игры. 
                                    <li class="list-group-item">
                    Во время игры мы будем пользоваться не USD, а игровыми денежными единицами - токенами.  Это 
                    значит, что заработанный Вами бонус будет изначально подсчитан в токенах, а после игры Ваш бонус 
                    будет конвертирован в USD по следующему курсу:
                </li>
                                    <li class="list-group-item text-center list-group-item-primary font-weight-bold">
                                        10 токенов = Y USD
                </li>


                </li>
                <li class="list-group-item">
                    Игра состоит из двух частей. Вы можете заработать дополнительные деньги, которые будут выплачены Вам в качестве
                    <span class="font-weight-bold"> бонуса </span> в Толоке.
                </li>

                <li class="list-group-item">
                     На следующем шаге Вам будет предоставлена инструкция, в которой написано, какие решения Вы
                    должны принимать, чтобы заработать дополнительные деньги. Внимательно ознакомьтесь со следующим текстом. На всех 
                    последующих этапах Вы можете перечитать инструкцию,
                    нажав на кнопку сверху.
                </li>

            </ul>

        </div>
    </div>
    {% next_button %}

{% endblock %}
