{% extends "global/Page.html" %}
{% load otree  hse %}

{% block title %}
    The study is about to start
{% endblock %}

{% block content %}
    {% include 'embez/includes/role_block.html' %}
    <table class="table table-hover table-striped">
        <thead>
        <th>Question</th>
        <th>Correct</th>
        </thead>
        {% for foo in results %}
            <tr>
                <td>Question {{ forloop.counter }}</td>
                <td>{{ foo|yesno:'Yes,No' }}</td>
            </tr>

        {% endfor %}

    </table>
    {% card %}
        Now the study will start. Please click 'Proceed with the study' button below
    {% endcard %}

    {% hse_button label='Proceed with the study' html_class='btn-danger' %}
{% endblock %}
