{% extends "global/Page.html" %}
{% load otree  hse %}

{% block title %}
    Игра начинается
{% endblock %}

{% block content %}
    {% include 'embez/includes/role_block.html' %}
    <table class="table table-hover table-striped">
        <thead>
        <th>Вопрос</th>
        <th>Правильно</th>
        </thead>
        {% for foo in results %}
            <tr>
                <td>Вопрос {{ forloop.counter }}</td>
                <td>{{ foo|yesno:'Да,Нет' }}</td>
            </tr>

        {% endfor %}

    </table>
    {% card %}
        Игра начинается. Чтобы приступить к игре нажмите на кнопку 'Proceed with the study'.
        Если вы захотите перечитать инструкцию, вы можете нажать на кнопку 'Show
         Instructions' в любой момент игры. 
    {% endcard %}

    {% hse_button label='Proceed with the study' html_class='btn-danger' %}
{% endblock %}
