{% extends "global/Page.html" %}
{% load otree  hse %}

{% block title %}
    Начало исследования
{% endblock %}

{% block content %}

    {% card %}
        Исследование начинается. Чтобы приступить, нажмите на кнопку 'Продолжить'.
        Если вы захотите перечитать инструкцию, вы можете нажать на кнопку 'Инструкция' в любой момент игры или
        воспользоваться калькулятором бонусов нажав кнопку "Калькулятор".
    {% endcard %}

    {% hse_button label='Продолжить' html_class='btn-danger' %}
{% endblock %}
