{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Игра окончена
{% endblock %}

{% block content %}


    <p>Ответьте, пожалуйста, на вопросы</p>

    <p> 1. Если бы у вас была возможность заплатить деньги, чтобы повысить вероятность проверки действий Чиновника, стали бы вы это делать?</p>
    {% formfield player.q3 %}
    <p>2. Если бы вы могли напрямую заплатить Чиновнику, чтоб он объявил истинный коэффициент, стали бы вы это делать?</p>
    {% formfield player.q4 %}
    <p> Спасибо! </p>
    {% next_button %}
{% endblock %}