{% extends "global/Page.html" %}
{% load otree hse %}

{% block title %}
    Проверочные вопросы
{% endblock %}

{% block content %}
    {% card %}
        <div class="mb-3">
            Чтобы лучше понять смысл и ход игры, ответьте на следующие вопросы про вероятные исходы игры.</div>
        <div class="text-danger font-weight-bold">Вы всегда можете воспользоваться калькулятором бонусов из меню
            выше!
        </div>

    {% endcard %}
    {% card %}
        <div >
            Два участника получили начальные суммы (10 токенов каждый) и заплатили с этих сумм налог по 5 токенов. Общая
            сумма уплаченных налогов - 10 токенов.
        </div>
        <div>Чиновник видит, что истинное значение коэффициента К равно 3. Он объявляет значение К равным 1. Компьютер НЕ
        ПРОВЕРЯЕТ истинность утверждений Чиновника.
        </div>
    {% endcard %}
    {% formfield player.cq1_1 %}
    {% formfield player.cq1_2 %}

    <hr>
    {% card %}
        Чиновник видит, что истинное значение коэффициента К равно 3. Он объявляет значение К равным 2. Компьютер
        ПРОВЕРЯЕТ истинность утверждений Чиновника.
    {% endcard %}
    {% formfield player.cq2_1 %}
    {% formfield player.cq2_2 %}

    <hr>
    {% card %}
        Чиновник видит, что истинное значение коэффициента К равно 3. Он объявляет значение К равным 3. Компьютер
        ПРОВЕРЯЕТ истинность утверждений Чиновника.
    {% endcard %}
    {% formfield player.cq3_1 %}
    {% formfield player.cq3_2 %}

    <hr>

    {% next_button %}

{% endblock %}
