{% extends "global/Page.html" %}
{% load otree hse %}

{% block title %}
    Comprehension questions
{% endblock %}

{% block content %}
    {% card %}
        Два участника получили начальные суммы (10 токенов каждый) и заплатили с этих сумм налог по 5 токенов. Общая
        сумма уплаченных налогов - 10 токенов.
    {% endcard %}


    <p>Чиновник видит, что истинное значение коэффициента К равно 3. Он объявляет значение К равным 1. Компьютер НЕ
        ПРОВЕРЯЕТ истинность утверждений Чиновника в этом периоде.</p>
    <p>Какое вознаграждение в этом периоде получает Гражданин ___ [ПРАВИЛЬНЫЙ ОТВЕТ: 10]</p>
    <p>Какое вознаграждение в этом периоде получает Чиновник ___ [ПРАВИЛЬНЫЙ ОТВЕТ: 30]</p>
    <hr>
    <p>Чиновник видит, что истинное значение коэффициента К равно 3. Он объявляет значение К равным 2. Компьютер
        ПРОВЕРЯЕТ истинность утверждений Чиновника в этом периоде.</p>
    <p>Какое вознаграждение в этом периоде получает Гражданин ___ [ПРАВИЛЬНЫЙ ОТВЕТ: 10]</p>
    <p>Какое вознаграждение в этом периоде получает Чиновник ___ [ПРАВИЛЬНЫЙ ОТВЕТ: 0]</p>
    <hr>

    <p>Чиновник видит, что истинное значение коэффициента К равно 3. Он объявляет значение К равным 3. Компьютер
        ПРОВЕРЯЕТ истинность утверждений Чиновника в этом периоде. </p>
    <p>Какое вознаграждение в этом периоде получает Гражданин ___ [ПРАВИЛЬНЫЙ ОТВЕТ: 20]</p>
    <p>Какое вознаграждение в этом периоде получает Чиновник ___ [ПРАВИЛЬНЫЙ ОТВЕТ: 20]</p>
    <hr>

    {% next_button %}

{% endblock %}
