{% extends "global/Page.html" %}
{% load otree hse %}

{% block title %}
    Comprehension questions
{% endblock %}

{% block content %}
    {% card %}
        Два участника получили начальные суммы (10 токенов каждый) и заплатили с этих сумм налог по 5 токенов. Общая
        сумма уплаченных налогов - 10 токенов.
    {% endcard %}
    {% card %}
        Чиновник видит, что истинное значение коэффициента К равно 3. Он объявляет значение К равным 1. Компьютер НЕ
        ПРОВЕРЯЕТ истинность утверждений Чиновника в этом периоде.
    {% endcard %}
    {% formfield player.cq1_1 %}
    {% formfield player.cq1_2 %}

    <hr>
    {% card %}
        Чиновник видит, что истинное значение коэффициента К равно 3. Он объявляет значение К равным 2. Компьютер
        ПРОВЕРЯЕТ истинность утверждений Чиновника в этом периоде.
    {% endcard %}
    {% formfield player.cq2_1 %}
    {% formfield player.cq2_2 %}

    <hr>
    {% card %}
        Чиновник видит, что истинное значение коэффициента К равно 3. Он объявляет значение К равным 3. Компьютер
        ПРОВЕРЯЕТ истинность утверждений Чиновника в этом периоде.
    {% endcard %}
    {% formfield player.cq3_1 %}
    {% formfield player.cq3_2 %}

    <hr>

    {% next_button %}

{% endblock %}
