{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Начало
{% endblock %}

{% block content %}

    <div class="row my-3">
        <div class="col">


            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Добрый день! В этой игре Вы будете принимать решения и взаимодействовать с другими 
                    пользователями Толоки в режиме реального времени. 
                </li>

                <li class="list-group-item">
                    За участие в данной игре Вы заработаете X USD, которые будут выплачены сразу после того, как Вы отправите
                    правильный код в интерфейсе Толока после завершения игры.
                </li>
                <li class="list-group-item">
                    Игра состоит из двух частей. Вы можете заработать дополнительные деньги, которые будут выплачены Вам в качестве
                    <span class="font-weight-bold"> бонуса </span> в Толоке.
                </li>

                <li class="list-group-item">
                     На следующем шаге Вам будет предоставлена инструкция, в которой написано, какие решения Вы
                    должны принимать, чтобы заработать дополнительные деньги. Внимательно ознакомьтесь со следующим текстом. На всех 
                    последующих этапах Вы можете перечитать инструкцию,
                    нажав на кнопку сверху.
                </li>

            </ul>

        </div>
    </div>
    {% next_button %}

{% endblock %}
