{% extends "global/Page.html" %}
{% load otree hse %}

{% block title %}
    Citizen declares beliefs
{% endblock %}

{% block content %}
    {% include 'embez/includes/role_block.html' %}
    {% card style='warning' title='Declared K'%}
        K declared by official was <span class="font-weight-bold">{{ group.k_declare }}</span>
    {% endcard %}
    {% card title='Some info about beliefs' %}
        HERE GOES SOME REMINDER ABOUT BELIEF ELICITATION
    {% endcard %}
    {% formfields %}
    {% next_button %}

{% endblock %}
