{% extends "global/Page.html" %}
{% load otree hse %}

{% block title %}
 Угадывание истинного коэффициента
{% endblock %}

{% block content %}
    {% include 'embez/includes/role_block.html' %}
    {% card style='warning' title='Объявленный коэффициент'%}
        Чиновник объявил коэффициент, равный <span class="font-weight-bold">{{ group.k_declare }}</span>
    {% endcard %}
    {% card title='Дополнительнй бонус' %}
Как было сказано ранее, Чиновник может объявить коэффициент равный или меньше истинного коэффициента и забрать 
недораспределенную часть налога. Еcли вы угадаете значение истинного коэффициента, то мы выплатим вам 
<span class="font-weight-bold"> дополнительный бонус </span> в Толоке. После всех раундов игры мы случайным образом выберем один из раундов, где 
проверим, угадали вы или нет. При угадывании коэффициента мы выплатим вам дополнительные 5 токенов.

    {% endcard %}
    {% formfields %}
    {% next_button %}

{% endblock %}
