{% extends "global/Page.html" %}
{% load otree hse %}

{% block title %}
    Officer - declaring K
{% endblock %}

{% block content %}
    {% card title='Ваша роль' style='info' %}
        Ваша роль: <span class="font-weight-bold">{{ player.role }}</span>
    {% endcard %}
    {% card style='danger'%}
        THE REAL K IS <span class="font-weight-bold">{{ group.real_k }}</span>
    {% endcard %}
    {% card  header='Officer decision about lying' %}
        HERE GOES SOMETHING ABOUT DECLARING R
    {% endcard %}

{% formfields %}
    {% next_button %}

{% endblock %}
