{% extends "global/Page.html" %}
{% load otree hse %}

{% block title %}
    Объявление коэффициента
{% endblock %}

{% block content %}

    {% include 'embez/includes/role_block.html' %}
    {% card style='danger' %}
        <div class="lead text-center">
            Истинный коэффициент равен <span class="font-weight-bold">{{ group.real_k }}</span>
        </div>
    {% endcard %}
    {% card header='Какой коэффициент выбрать:' %}
        <div>
            Если Вы выберете коэффициент, равный истинному, Ваш выигрыш будет равен выигрышу Гражданина.
        </div>
        <div>
            Если вы выберете коэффициент меньше истинного, Вы получите <span class="font-weight-bold"> дополнительный бонус
         </span>, который потом
            будет выплачен Вам в Толоке.
        </div>
        <div>С вероятностью {{ Constants.checking_prob_formatted }} ваше решение будет проверено компьютером, и в этом
            случае
            сумма вашего бонуса будет уменьшена.
        </div>
        {% if session.config.treatment == 'negative' %}
            <div class="font-italic">
                <div>Гражданин может  вложить от 0 до {{ Constants.left_endowment }} токенов в то, чтобы увеличить вероятность
                    вашей проверки .
                </div>
                <div>1 токен, вложенный Гражданином, увеличивает вероятность проверки
                    на {{ Constants.investment_coef|percentage }}.

                </div>
            </div>{% endif %}
    {% endcard %}
    {% include "otree/forms/errors.html" with errors=form.k_declare.errors %}

    <div class="{% if form.k_declare.errors|default_if_none:False %}alert alert-danger{% endif %}">
        {% include 'embez/includes/calc.html' with initial_k=group.real_k vue_app_id='declare_vue_app' k_declare_text='Выберите значение коэффициента, которое Вы объявите Гражданину:' officer_payoff_no_text='Ваш бонус без проверки равен' officer_payoff_yes_text='Ваш бонус при проверке равен' citizen_payoff_text='Бонус Гражданина равен' total_taxes=Constants.total_taxes %}
    </div>
    {% next_button %}

{% endblock %}
