{% extends "global/Page.html" %}
{% load otree hse %}

{% block title %}
    Налог
{% endblock %}

{% block content %}

    <table class="table">
        <tr>
            <td>Ваше состояние на данный момент</td>
            <td>{{ player.endowment }}</td>
        </tr>
    </table>
    {% card header='Информация о налоге' %}
        Из изначальной суммы (10 токенов) Вы должны заплатить налог в размере
        5 токенов, который в следующем этапе будет увеличен и равномерно распределен между Чиновником
        и Гражданином. Чтобы продолжить игру, нажмите на 'Заплатить налог'.
    {% endcard %}
    <div class="alert alert-danger font-weight-bold text-center">
        На следующем этапе вам необходимо будет подождать второго участника Толоки. Пожалуйста, проявите терпение, так
        как это может занять некоторое время.
        Если вы ждете больше нескольких минут, дайте нам знать через систему сообщений толоки или по e-mail.
    </div>

    <div class="alert alert-info lead text-center">
        После того, как второй участник присоединится, вы получите информацию вам какая роль вам достанется.
    </div>

    {% hse_button label='Заплатить налог' html_class='btn-danger' %}

{% endblock %}
