{% extends "global/Page.html" %}
{% load otree hse %}

{% block title %}
    Налог
{% endblock %}

{% block content %}
  {% include 'embez/includes/role_block.html' %}
           <table class="table">
         <tr>
            <td>Ваше состояние на данный момент</td>
            <td>{{ player.endowment }}</td>
        </tr>
            </table>
    {% card header='Информация о налоге' %}
        Из изначальной суммы (10 токенов) Вы должны заплатить налог в размере
        5 токенов, который в следующем этапе будет увеличен и равномерно распределен между Чиновником 
        и Гражданином. Чтобы продолжить игру, нажмите на 'Заплатить налог'.
    {% endcard %}
    {% hse_button label='Заплатить налог' html_class='btn-danger'%}

{% endblock %}
