{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Ответьте на все вопросы правильно, чтобы начать игру
{% endblock %}

{% block content %}
    <h2> Вопрос 3 из 5</h2>
    <p> Два участника получили начальные суммы (10 токенов каждый) и заплатили с этих сумм налог по 5 токенов. Общая сумма уплаченных налогов - 10 токенов.</p>
    <p> Чиновник видит, что истинное значение коэффициента К равно 3. Он объявляет значение К равным 2.
        Компьютер НЕ ПРОВЕРЯЕТ истинность утверждений Чиновника в этом периоде.</p>
<p>Какое вознаграждение в этом периоде получает Гражданин, Чиновник</p>
    <p> A) Ч - 20 , Г - 15</p>
    <p> B) Ч - 25 , Г - 10</p>
    <p> C) Ч - 25 , Г - 15</p>
    <p> D) Ч - 15 , Г - 10</p>

    <style>
            .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .btn-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }
    button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    margin-top: 0em;
    margin-right: 0em;
    margin-bottom: 1em;
    margin-left: 0em;
    font: 400 11px system-ui;
    padding: 1px 7px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-image: initial;
}
    </style>
    <p class='btn btn-primary'> A </p>
    <p class='btn btn-primary'> B </p>
    <button class="button btn btn-primary">C</button>
    <p class='btn btn-primary'> D </p>

{% endblock %}