{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Инструкция к игре
{% endblock %}

{% block content %}

   <p>Привет!</p>

    <p>В начале каждого периода каждый участник группы, вне зависимости от его роли, получает первоначальную сумму в 10 токенов.</p>

    <p>Каждый участник, Гражданин и Чиновник, из этой суммы платит фиксированный налог в размере 5 токенов. Общая сумма налога, выплаченная обоими членами группы, умножается на коэффициент К, а затем делится поровну между участниками. </p>
    <p>В каждом периоде значение коэффициента К разное, оно генерируется случайно и может быть любым от 1 до 3.</p>

    <p>Чиновник видит истинное значение К и может объявить Гражданину любое значение от 1 до К.</p>
    <p>Если коэффициент, который объявил Чиновник, равен истинному значению К, выплаты участникам, Гражданину и Чиновнику, будут равными. </p>
    <p>Если коэффициент, который объявил Чиновник, меньше истинного значения К, выплаты участникам будут произведены согласно объявленному Чиновником коэффициенту К. В этом случае разница в выигрыше достается Чиновнику.</p>
    <p>После того, как Чиновник объявляет Гражданину значение коэффициента К, по которому будут рассчитываться вознаграждения в этом периоде, компьютер может сравнить объявленное значение К с истинным. </p>
    <p>Это происходит с вероятностью 10%: примерно в 10% случаев компьютер сравнивает истинное и объявленное значения К, а в 90% случаев проверка не осуществляется.</p>

    <p>Если проверка осуществляется и компьютер находит, что истинное значение К больше объявленного, то Чиновник штрафуется на сумму в полтора раза больше выигрыша, который он получил в результате объявления неверного К.</p>
    <p>Сумма выигрыша Гражданина в этом периоде остается неизменной.</p>

    <p>В конце каждого периода гражданин должен сделать предположение, чему был равен истинный коэффициент К. По завершении всех периодов компьютер случайно выберет один из периодов, если гражданин в этот период выбрал правильное значение К, то ему будет выплачен дополнительный выигрыш в размере 5 токенов.</p>




    {% next_button %}

{% endblock %}
