{% load hse %}
{% card title='Пример 1' %}
        <p>Два участника получили начальные суммы (10 токенов каждый) и заплатили из этих сумм налог по 5 токенов. Общая
            сумма уплаченных налогов - 10 токенов. После этого Чиновник видит, что истинное значение К равно 2. Он
            объявляет Гражданину истинное значение К, равное 2. Это означает, что каждый участник в этом периоде
            получает вознаграждение:</p>
        <p>10 - 5 + 5*2 = 15</p>
    {% endcard %}

    {% card title="Пример 2" %}
        <p>Как и в предыдущем примере, два участника получили начальные суммы (10 токенов каждый) и заплатили с этих
            сумм
            налог по 5 токенов. Общая сумма уплаченных налогов - 10 токенов. После этого Чиновник видит, что истинное
            значение К равно 2. Чиновник объявляет Гражданину, что К в этом периоде равно 1. Это означает, что каждый
            участник в этом периоде получает вознаграждение:</p>
        <p>Гражданин: 10 - 5 + 5 = 10</p>
        <p>Чиновник: 10 - 5 + 5 + 10 = 20</p>
        <p>После того, как Чиновник объявляет Гражданину значение коэффициента К, по которому будут рассчитываться
            вознаграждения в этом периоде, компьютер может сравнить объявленное значение К с истинным. Это происходит с
            вероятностью 10%: примерно в 10% случаев компьютер сравнивает истинное и объявленное значения К, а в 90%
            случаев
            проверка не осуществляется.</p>
        <p>Если проверка осуществляется и компьютер находит, что истинное значение К больше объявленного, то Чиновник
            штрафуется на сумму в полтора раза больше выигрыша, который он получил в результате объявления неверного К.
            Сумма выигрыша Гражданина в этом периоде остается неизменной.</p>

    {% endcard %}
