{% load hse %}
{% card %}
    <p>Два участника получили начальные суммы (10 токенов каждый) и заплатили из этих сумм налог по 5 токенов. Общая
    сумма уплаченных налогов - 10 токенов. Истинное значение коэффициента равно
    <span class="font-weight-bold"> 2 </span>.
{% endcard %}
{% card title='Пример 1' %}
    <p> Чиновник объявляет Гражданину истинное значение К, равное <span class="font-weight-bold"> 2 </span>. Компьютер
        <span class="font-weight-bold"> не выбрал проверку </span> коэффициента К.
        Каждый участник получит по 15 токенов:</p>
    {#    TODO: CONVERT #}
    <p class="text-center"><code>10 - 5 + 5*2 = 15 токенов (30 центов бонуса)</code></p>
{% endcard %}

{% card title="Пример 2" %}
    <p>Чиновник объявляет Гражданину коэффициент, равный <span class="font-weight-bold"> 1 </span>. Компьютер <span
            class="font-weight-bold"> не выбрал проверку </span> коэффициента К. Бонусы участников равны:</p>
    <p>Гражданин: <code> 10 - 5 + 5 = 10 токенов (20 центов бонуса)</code></p>
    <p>Чиновник: <code>10 - 5 + 5 + 10 = 20 токенов (40 центов бонуса)</code></p>
{% endcard %}

{% card title="Пример 3" %}
    <p>Граджанин платит 1 токен и повышает вероятность проверки на 5%. Чиновник объявляет Гражданину коэффициент, равный <span class="font-weight-bold"> 1 </span>. Дополнительный
        выигрыш, который получил от
        этого Чиновник, равен 10 * (2-1) = 10. Компьютер <span class="font-weight-bold"> с вероятностью 35% выбрал проверку </span>
        коэффициента К. При проверке было обнаружено, что коэффициент К,
        объявленный Чиновником меньше, чем истинное значение К: 1 < 2. Следовательно, Чиновник штрафуется на 10*1,5.
        Вознаграждение Гражданина остается неизменным. Бонусы участников равны:</p>
    <p>Гражданин: <code>10 - 5 - 1 + 5 = 9 токенов (18 центов бонуса)</code></p>
    <p>Чиновник: <code>10 - 5 + 5 + 10 - 15 = 5 токенов (10 центов бонуса)</code></p>
{% endcard %}
