{% load hse %}
{% card title='Пример 1' %}
        <p>Два участника получили начальные суммы (10 токенов каждый) и заплатили из этих сумм налог по 5 токенов. Общая
            сумма уплаченных налогов - 10 токенов. После этого Чиновник видит, что истинное значение К равно 2. Он
            объявляет Гражданину истинное значение К, равное 2. В этом периоде 
        компьютер <span class="font-weight-bold"> не выбрал проверку </span> коэффициента К. Это означает, что каждый участник в этом периоде
            получает вознаграждение:</p>
        <p>10 - 5 + 5*2 = 15</p>
    {% endcard %}

    {% card title="Пример 2" %}
        <p>Как и в предыдущем примере, два участника получили начальные суммы (10 токенов каждый) и заплатили с этих
            сумм
            налог по 5 токенов. Общая сумма уплаченных налогов - 10 токенов. После этого Чиновник видит, что истинное
            значение К равно 2. Чиновник объявляет Гражданину, что К в этом периоде равно 1. В этом периоде 
        компьютер <span class="font-weight-bold"> не выбрал проверку </span> коэффициента К. Это означает, что каждый
            участник в этом периоде получает вознаграждение:</p>
        <p>Гражданин: 10 - 5 + 5 = 10</p>
        <p>Чиновник: 10 - 5 + 5 + 10 = 20</p>
            {% endcard %}
            
      {% card title="Пример 3" %}
        <p>Два участника получили начальные суммы (10 токенов каждый) и заплатили с этих сумм налог по 5 
        токенов. Общая сумма уплаченных налогов - 10 токенов. После этого Чиновник видит, что истинное 
        значение К - 2. Чиновник объявляет Гражданину, что К в этом периоде равно 1.  В этом периоде 
        компьютер <span class="font-weight-bold"> выбрал проверку </span> коэффициента К. Он нашел, что коэффициент К объявленный Чиновником 
        (1) меньше, чем истинное значение К (2). Так как дополнительный выигрыш, который получил от 
        этого чиновник, равен 10, то он штрафуется на 10*1,5. Выигрыш Гражданина остается неизменным. Это 
        означает, что каждый участник в этом периоде получает вознаграждение:</p>
        <p>Гражданин: 10 - 5 + 5 = 10</p>
        <p>Чиновник: 10 - 5 + 5 + 10 - 15 = 5</p>
    {% endcard %}
