{% load hse %}
{% card %}
    <ul class="list-group list-group-flush ">
        <li class="list-group-item">В начале каждого периода каждый участник группы, вне зависимости от его роли,
            получает
            первоначальную сумму в 10 токенов.
        </li>

        <li class="list-group-item">Каждый участник, Гражданин и Чиновник, из этой суммы платит фиксированный налог
            в
            размере 5 токенов. Общая сумма налога, выплаченная обоими членами группы, умножается на коэффициент К, а
            затем
            делится поровну между участниками.
        </li>

        <li class="list-group-item">В каждом периоде значение коэффициента К разное, оно генерируется случайно и
            может быть
            любым от 1 до 3.
        </li>

        <li class="list-group-item">Чиновник видит истинное значение К и может объявить Гражданину любое значение от
            1 до К.
            Если коэффициент, который объявил Чиновник, равен истинному значению К, выплаты участникам, Гражданину и
            Чиновнику, будут равными. Если коэффициент, который объявил Чиновник, меньше истинного значения К,
            выплаты
            участникам будут произведены согласно объявленному Чиновником коэффициенту К. В этом случае разница в
            выигрыше
            достается Чиновнику.
        </li>

    </ul>
{% endcard %}
