{% load hse %}
{% card %}
    <ul class="list-group list-group-flush ">
        <li class="list-group-item"> <span class="font-weight-bold"> Вимательно ознакомьтесь с инструкцией игры, 
        так как от этого будет зависеть размер вашего бонуса. </span>
        </li>
 
    <ul class="list-group list-group-flush ">
        <li class="list-group-item">В ходе игры Вы будете случайным образом распределены на группы по два человека.
            В каждой группе Вам случайным образом будет присвоена одна из двух ролей: Гражданин или Чиновник.
            В начале игры каждый участник группы, вне зависимости от его роли,
            получает первоначальную сумму в 10 токенов.
        </li>
            <ul class="list-group list-group-flush ">
        <li class="list-group-item">Напоминаем, что мы используем игровые денежные единицы - токены которые
            будут конвертированы в ваш бонус в Толоке по следующему курсу:
        </li>
        <li class="list-group-item text-center list-group-item-primary font-weight-bold">
                                       10 токенов = {{ subsession.cents_per_10_tokens|floatformat:0 }} центов
                </li>
        <li class="list-group-item">Каждый участник, Гражданин и Чиновник, из этой суммы платит фиксированный налог
            в
            размере 5 токенов. Общая сумма налога, выплаченная обоими членами группы, умножается на коэффициент К, а
            затем
            делится поровну между участниками.
        </li>

        <li class="list-group-item">Значение коэффициента К разное, оно генерируется случайно и
            может быть
            любым от 1 до 3.
        </li>

        <li class="list-group-item">Чиновник видит истинное значение К и может объявить Гражданину любое значение от
            1 до К. Если коэффициент, который объявил Чиновник, равен истинному значению К, выплаты участникам,
            Гражданину и
            Чиновнику, будут равными. Если коэффициент, который объявил Чиновник, меньше истинного значения К,
            выплаты участникам будут произведены согласно объявленному Чиновником коэффициенту К. В этом случае разница
            в
            выигрыше достается Чиновнику.
        </li>
        <li class="list-group-item">После того, как Чиновник объявляет Гражданину значение коэффициента К, по которому
            будут рассчитываться
            бонусы, компьютер может сравнить объявленное значение К с истинным. Это происходит с
            вероятностью {{ Constants.checking_prob_formatted }}: примерно в {{ Constants.checking_prob_formatted }}
            случаев компьютер сравнивает истинное и объявленное значения К, а в {{ Constants.rest_prob_formatted }}
            случаев проверка не осуществляется.
        </li>
                <li class="list-group-item">У Гражданина есть возможность увеличивать вероятность проверки объявленного Чиновником 
                коэффициента К. Если Гражданин платит 1 токен, то вероятность увеличивается на 5%, при выплате 
                2 токенов вероятность проверки увеличится на 10% и тд.
        </li>
        <li class="list-group-item">Если проверка осуществляется и компьютер находит, что истинное значение К больше
            объявленного, то Чиновник
            штрафуется на сумму в полтора раза больше выигрыша, который он получил в результате объявления неверного К.
            Сумма выигрыша Гражданина остается неизменной.
        </li>
         <li class="list-group-item">
             {% include 'embez/includes/calc.html' with vue_app_id=calc_app_id  k_declare_text='Выберите для примера коэффициент, который объявит Чиновник'  officer_payoff_no_text='Бонус Чиновника без проверки равен' officer_payoff_yes_text='Бонус Чиновника при проверке равен' citizen_payoff_text='Бонус Гражданина равен' total_taxes=Constants.total_taxes%}
        </li>
    </ul>

{% endcard %}
